@page "/"
@namespace Location.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Location</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <!-- Bing Maps -->
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol'></script>
    <!-- App -->
    <script src="~/js/main.bundle.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
